/* .contenedor{
    background-color: #fff1ff;
    border: 5px solid #e1bee7;
    display: grid;
    grid-template-rows: 150px  150px;
    grid-template-columns: 150px 150px ;
    gap: 20px;
    width: 300px;
    place-content: center;
    place-items: end;
}
.item{
    font-size: 4rem;
    border: 5px  solid #00bcd4;
    justify-items: end;
} */
/* *{ */
    /* box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-container{
    display: grid;
    width: 449px;
    height: 449px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 50px;
    place-content: center;
    background-color: #3a630d;
    
}
.item{
    background-color: #add901;
    display: grid;
    place-items: end;
}
.item span{
    display: block;
    height: 90px;
    width: 60px;
    background-color: #61a81e;
}
.item-center{
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    height: 50px;
    width: 50px;
    background-color: #1f3207;
}  */



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body{
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
} */

.grid-container{
    border: 3px solid green;
    /* border-color:green ; */
    /* width: 100px; */
    height: 600px;
    display: grid;
    gap: 15px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    place-items: end;
    place-content: center;
    grid-auto-flow: column;
}
.item{
    border: 3px solid greenyellow;
    padding: 3xp;
    font-size: 4rem;
}